# API Configuration
VITE_API_BASE_URL=http://localhost:3000

# Azuracast Configuration (votre instance AzuraCast)
VITE_AZURACAST_BASE_URL=https://your-azuracast-instance.com

# Site Configuration
VITE_SITE_BASE_URL=http://localhost:8080
